*{
    box-sizing: border-box;
    /* needs to be here because section is a box element */
}

body {
    font-family: 'Montserrat', sans-serif;
    /* o body tem valores default que deve ser removidos de prefencia */
    margin: 0;
    box-sizing: border-box;
}

#product-overview {
    /* background: #ff1b68; */
    background-image: url(../styles/assets/images/freedom.jpg);
    width: 100;
    height: 528px;
    padding: 10px;
    /* related to the exemplo of box-sizing: border-box; 
    border: 5px solid black;
    margin: 10px; 
    */ 

}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    min-width: 30%;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    /* block level element so optional it will always take the full width */
    width: 100%;
    background-color: 	#90EE90;
    /* top and bottom = 8 | left and right = 16 */
    padding: 8px 16px;

}

/* practicar combinadors / combinators css */
/* select only the div that is the direct child */
.main-header > div {
    display: inline-block;
    vertical-align: middle;
 
}

.main-header-brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

/* working as a container */
/* align text a new way */
.main-nav{
    display: inline-block;
    text-align: right;
       /* 100% minus the above div (not a clean solution) */
    width: calc(100% - 75px);
    vertical-align: middle;
      
}

.main-nav-items{
    /* removing the margin and padding 
        works because of display: inline-block
    */
    margin: 0;
    padding: 0;
    list-style-type: none;

}


.main-nav-item{
    /* ganha o comporto  de elemntos block apwsar de ainda serem elemnetos inline
    faz com ja seja possivel adicionar padding e margin*/ 
    display: inline-block;
    
}



.main-nav-item  a {
    text-decoration: none;
    color: #0e4f1f;
    /* top and bottom left and righ */
    margin: 0 16px;
    font-weight: bold;
    /* top and bottom left and righ */
    padding: 3px 0;
}



/*  PSEUDO CLASSES */ 
/* .main-nav-item a::after {
    content: " (Link)";
    color: red;
    EXAMPLE CODE
} */

/* GROUPING CLASSES */
.main-nav-item a:hover,
.main-nav-item a:active
 {
    color: white;
    border-bottom: 3px solid white;
}

.main-nav-item-cta a{
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav-item-cta a:hover,
.main-nav-item-cta a:active{
    color: #ff1b68;
    background-color: white;
    border: none;
}